# Automated Web Scrape Practice

In [23]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
# Visit the Quotes to Scrape site
url = 'https://www.ssense.com/en-us/women/designers/mm6-maison-margiela/jeans?sort=popularity-desc'
browser.visit(url)

In [4]:
# Parse the HTML
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# mm_price = html_soup.find_all('span', class_='s-text', attrs={'data-test': 'productCurrentPrice'})
# mm_price = soup.find_all("span", {'data-test': 'productCurrentPrice1'})
# print(mm_price)

In [5]:
mm_prices = []
i = 0

while True:
    mm_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if mm_price:
        mm_prices.append(mm_price.text.strip())
        i += 1
    else:
        break

print(mm_prices)

['$321', '$219', '$475', '$302', '$176', '$390', '$390', '$410', '$233', '$133', '$138', '$358', '$545', '$252', '$281', '$211', '$358', '$198', '$121', '$231', '$455', '$315', '$390', '$281', '$218', '$332', '$148', '$308', '$277', '$79', '$118', '$76', '$76', '$166', '$293', '$271', '$281', '$240', '$139', '$314', '$363', '$108', '$79', '$112', '$126', '$84', '$148', '$87', '$118', '$112']

In [ ]:
# mm_prices = []
# for i in range(0, 18):
#     mm_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
#     if mm_price:
#         mm_prices.append(mm_price.text.strip())
#     else:
#         print(f'Error: price {i} not found.')

# print(mm_prices)

In [6]:
jeans_df = pd.DataFrame(mm_prices, columns=["MM6"])
jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)
jeans_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_27056\690135130.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)

    MM6
0   321
1   219
2   475
3   302
4   176
5   390
6   390
7   410
8   233
9   133
10  138
11  358
12  545
13  252
14  281
15  211
16  358
17  198
18  121
19  231
20  455
21  315
22  390
23  281
24  218
25  332
26  148
27  308
28  277
29   79
30  118
31   76
32   76
33  166
34  293
35  271
36  281
37  240
38  139
39  314
40  363
41  108
42   79
43  112
44  126
45   84
46  148
47   87
48  118
49  112

In [7]:
mm_jeans_min = jeans_df['MM6'].min()
print(f'The minimum price for a pair of MM6 jeans is ${mm_jeans_min}.')

mm_jeans_max = jeans_df['MM6'].max()
print(f'The maxiumum price for a pair of MM6 jeans is ${mm_jeans_max}.')

mm_jeans_avg = jeans_df['MM6'].mean()
print(f'The average price for a pair of MM6 jeans is ${round(mm_jeans_avg,2)}.')

The minimum price for a pair of MM6 jeans is $76.
The maxiumum price for a pair of MM6 jeans is $545.
The average price for a pair of MM6 jeans is $237.12.

In [20]:
browser.quit()

In [21]:
browser = Browser('chrome')
url_2 = 'https://www.ssense.com/en-us/women/designers/diesel/jeans?sort=popularity-desc'
browser.visit(url_2)

In [24]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# diesel_prices = []
# for i in range(0, 18):
#     diesel_jeans_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
#     if diesel_jeans_price:
#         diesel_prices.append(diesel_jeans_price.text.strip())
#     else:
#         print(f'Error: price {i} not found.')

# print(diesel_prices)

In [25]:
diesel_prices = []
i = 0

while True:
    diesel_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if diesel_price:
        diesel_prices.append(diesel_price.text.strip())
        i += 1
    else:
        break

print(diesel_prices)

['$314', '$355', '$335', '$375', '$405', '$110', '$154', '$134', '$120', '$169', '$110', '$679', '$101', '$156', '$131', '$101', '$110', '$414', '$276', '$250', '$126', '$111', '$359', '$405', '$87', '$302', '$90']

In [29]:
jeans_diesel_df = pd.DataFrame(diesel_prices, columns=["diesel"])
jeans_diesel_df['diesel'] = jeans_diesel_df['diesel'].str.replace('$','').astype(int)
jeans_diesel_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_27056\821971940.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_diesel_df['diesel'] = jeans_diesel_df['diesel'].str.replace('$','').astype(int)

    diesel
0      314
1      355
2      335
3      375
4      405
5      110
6      154
7      134
8      120
9      169
10     110
11     679
12     101
13     156
14     131
15     101
16     110
17     414
18     276
19     250
20     126
21     111
22     359
23     405
24      87
25     302
26      90

In [30]:
diesel_jeans_min = jeans_diesel_df['diesel'].min()
print(f'The minimum price for a pair of Diesel jeans is ${diesel_jeans_min}.')

diesel_jeans_max = jeans_diesel_df['diesel'].max()
print(f'The maxiumum price for a pair of Diesel jeans is ${diesel_jeans_max}.')

diesel_jeans_avg = jeans_diesel_df['diesel'].mean()
print(f'The average price for a pair of Diesel jeans is ${round(diesel_jeans_avg,2)}.')

The minimum price for a pair of Diesel jeans is $87.
The maxiumum price for a pair of Diesel jeans is $679.
The average price for a pair of Diesel jeans is $232.56.

In [31]:
browser.quit()

In [32]:
browser = Browser('chrome')
url_3 = 'https://www.ssense.com/en-us/women/designers/blumarine/jeans?sort=popularity-desc'
browser.visit(url_3)

In [33]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

blu_prices = []
i = 0

while True:
    blu_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if blu_price:
        blu_prices.append(blu_price.text.strip())
        i += 1
    else:
        break

print(blu_prices)

['$1295', '$150', '$792', '$1040', '$501', '$228', '$848', '$542', '$765', '$485', '$230', '$131', '$703', '$174', '$246', '$330', '$429', '$374']

In [ ]:

# blu_prices = []
# for i in range(0, 18):
#     blu_price = soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
#     if blu_price:
#         blu_prices.append(blu_price.text.strip())
#     else:
#         print(f'Error: price {i} not found.')

# print(blu_prices)

In [34]:
jeans_blu_df = pd.DataFrame(blu_prices, columns=["blumarine"])
jeans_blu_df['blumarine'] = blu_prices
jeans_blu_df['blumarine'] = jeans_blu_df['blumarine'].str.replace('$','').astype(int)
jeans_blu_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_27056\1065948030.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_blu_df['blumarine'] = jeans_blu_df['blumarine'].str.replace('$','').astype(int)

    blumarine
0        1295
1         150
2         792
3        1040
4         501
5         228
6         848
7         542
8         765
9         485
10        230
11        131
12        703
13        174
14        246
15        330
16        429
17        374

In [35]:
blu_jeans_min = jeans_blu_df['blumarine'].min()
print(f'The minimum price for a pair of blumarine jeans is ${blu_jeans_min}.')

blu_jeans_max = jeans_blu_df['blumarine'].max()
print(f'The maxiumum price for a pair of blumarine jeans is ${blu_jeans_max}.')

blu_jeans_avg = jeans_blu_df['blumarine'].mean()
print(f'The average price for a pair of blumarine jeans is ${round(blu_jeans_avg,2)}.')

The minimum price for a pair of blumarine jeans is $131.
The maxiumum price for a pair of blumarine jeans is $1295.
The average price for a pair of blumarine jeans is $514.61.

In [36]:
# End the automated browsing section
browser.quit()

In [37]:
csv_filename = 'mm6_jeans.csv'
jeans_df.to_csv(csv_filename, index=False)
csv_filename = 'diesel_jeans.csv'
jeans_diesel_df.to_csv(csv_filename, index=False)
csv_filename = 'blu_jeans.csv'
jeans_blu_df.to_csv(csv_filename, index=False)